@tailwind base;
@tailwind components;
@tailwind utilities;

.DraftEditor-root {
  margin-top: 3rem;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  z-index: 0;
}

.DraftEditor-editorContainer {
  box-sizing: border-box;
  border-top: 1px solid #708090;
  border-left: 1px solid #708090;
  border-right: 1px solid #708090;
  cursor: text;
  padding: 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #fefefe;
  min-height: 25rem;
  max-height: 25rem;
  z-index: 0;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  margin-left: 0px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

pre {
  white-space: pre-wrap;
  border-radius: 4px;
  background: #f6f7f8;
  padding: 8px;
  color: #696868;
  font-weight: 300;
  font-size: 15px;
}

@media screen and (max-width: 780px) {
  .DraftEditor-root {
    width: 95%;
  }
}
